html{
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Sans-serif;
    background-color: rgb(254, 249, 232);
    z-index: 5;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bg-items{
    z-index: 0;
    position: fixed;
    background-color: #ffd298;
    top: 0;
    width: 100%;
    height: 100%;
}

.bg-items .e1{
    position: absolute;
    background-color: #FE931F;
    width: 100%;
    height: 700px;
    -webkit-clip-path: polygon(72% 0, 0 0, 0 36%);
    clip-path: polygon(60% 0, 0 0, 0 100%);
}

/* .bg-items .e2{
    width: 100%;
    height: 1000px;
    background-color: #907f7f;
    -webkit-clip-path: polygon(94% 0, 100% 0, 100% 100%, 79% 100%);
clip-path: polygon(94% 0, 100% 0, 100% 100%, 79% 100%);
} */

.out-of-bg{
    z-index: 10;
    position: relative;
    margin: 10px 20px;
    max-width: 1200px;
}

header .logo{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #ffd29894;
    backdrop-filter: blur(5px);
    width: fit-content;
    border-radius: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
}

header .logo img{
    width: 50px;
    margin-left: 5px;
    height: 50px;
    background-color: #ffffffa5;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.logo .logo-title{
    color: rgb(137, 63, 11);
    padding: 10px;
    font-size: 22px;
    padding-right: 20px;
    font-weight: 200;
}

nav{
    display: flex;
    flex-direction: row-reverse;
}

nav ul{
    list-style-type: none;
}

nav li{
    display: inline;
    padding: 10px 20px;
    font-size: 22px;
    padding-right: 20px;
    font-weight: 200;
    border-radius: 80px;
    transition-duration: 0.5s;
    cursor: pointer;
}

nav .selected{
    background-color: #ffffff7c;
    backdrop-filter: blur(5px);
}

nav a{
    text-decoration: none;
    color: rgb(137, 63, 11);
}

nav li:hover{
    background-color: #ffffff7c;
    backdrop-filter: blur(5px);
}

main{
    width: 100%;
    margin-top: 30px;
}

main .banner{
    position: relative;
    display: flex;
    width: 100%;
    border-radius: 80px;
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;}

.banner .banner-img{
    width: 100%;
}

.banner p{
    position: absolute;
    text-shadow:  #D06040 1px 0 10px;
}

.banner .p1{
    bottom: 5vw;
    left: 2vw;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    color: white;
    font-size: 1.5vw;
}

.banner .p2{
    font-size: 6vw;
    position: absolute;
    bottom: 3.5vw;
    left: 6vw;
    color: white;
}

.banner .p3{
    font-size: 3vw;
    position: absolute;
    bottom: 3.5vw;
    left: 6vw;
    color: white;
}

.banner .logo{
    background-color: #f8d09b00;
    position: absolute;
    backdrop-filter: none;
    transform: rotate(-90deg);
    width: 25vw;
    right: -11.4vw;
    top: 10vw;
}

main{
    width: 100%;
}

section{
    margin-top: 70px;
    display: grid;
    grid-template-columns: 31% 31% 31%;
    column-gap: 3%;
}

section article{
    position: relative;
    overflow: hidden;
    background-color: rgba(255, 255, 255, 0.464);
    backdrop-filter: blur(10px);
    border-radius: 80px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

section article img{
    width: 100%;
}

section article h1{
    text-shadow:  #D06040 1px 0 10px;
    color: white;
    font-size: 3.5vw;
    padding: 10px;
    top: 50px;
    position: absolute;
}

section article p{
    padding-bottom: 30px;
    padding: 30px;
    padding-top: 0px;
}

footer{
    max-width: 300px;
    display: flex;
    align-items: center;
    margin-left: 50%;
    transform: translateX(-50%);
    margin-top: 60px;
}

footer img{
    width: 50px;
    height: 50px;
    margin-right: 20px;
    background-color: #fff;
    border-radius: 20px;
}
